html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.rotate {
  perspective: 2000px;
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.cube {
  width: 50vmin;
  height: 50vmin;
  position: relative;
  transform-style: preserve-3d;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.face {
  width: 100%;
  height: 100%;
  position: absolute;
}
.front {
  border: 1px solid red;
  transform: translateZ(25vmin);
}
.left {
  border: 1px solid green;
  transform: translateX(25vmin) rotateY(90deg);
}
.back {
  border: 1px solid blue;
  transform: translateZ(-25vmin);
}
.right {
  border: 1px solid darkgoldenrod;
  transform: translateX(-25vmin) rotateY(90deg);
}
.top {
  border: 1px solid magenta;
  transform: translateY(-25vmin) rotateX(90deg);
}
.bottom {
  border: 1px solid orange;
  transform: translateY(25vmin) rotateX(90deg);
}
